@import "compass/css3";
/**
 * variable power
 */
$c-controlBarGrayDark: #333;
$c-controlBarGray: #666;
$c-controlBarGrayBright: #999;
$c-orange: #d07313;


* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@host {
  :scope {
    display: block;

    width: 100%;

    margin: 0;

    background-color: rgba( 0, 0, 0, 0.6 );

    @include border-radius( 0.25em );
  }
}

.actionContainer {
  position: relative;
  width: 100%;
  margin: 0 0 0.5em 0;
  padding: 0;
  list-style: none;

  @media screen and (min-width: 500px) {
    width: 33.333%;
    margin: 0;
  }
}

.artistImage, .artistInformation {
  width: 96%;
  margin: 0.5em 2%;
}

.artistImage {
  border-radius: 0.5em;

  width: 100%;
  margin: 0;
}

.artistImageContainer {
  @media screen and (min-width: 500px) {
    width: 32%;
    margin: 0;
    display: inline-block;
  }
}

.artistInformation {
  width: 96%;
  margin: 0.5em 2%;

  @media screen and (min-width: 500px) {
    width: 64%;
    margin: 0;
    display: inline-block;
    vertical-align: top;
  }

  h1 {
    margin: 0 3% 0.25em 3%;;
    font-size: 1.5em;
    color: #ddd;

    @include text-shadow( 0 1px 1px #000 );
  }

  h2 {
    margin: 0 3%;
    font-size: 1em;
    color: #ccc;
    font-weight: 400;
  }
}

.controlBar {
  position: relative;

  padding: 0.75em 3%;

  background-color: #333;

  border: 1px solid #222;

  @include border-radius( 0.25em );
  @include box-shadow(
    inset 0 1px 0.07em $c-controlBarGrayBright,
    inset 0 -2px 0.5em $c-controlBarGrayDark
  );
  @include background-image( linear-gradient( $c-controlBarGrayDark, $c-controlBarGray ) );
}

.controlBtn {
  position: relative;

  display: block;
  width: 100%;
  height: 100%;

  padding: 0;
  margin: 0;

  border: 0;
  border-top: 0.07em solid $c-controlBarGrayDark;
  border-bottom: 0.07em solid $c-controlBarGrayDark;

  outline: 0;

  cursor: pointer;

  color: transparent;

  @include background-image(
    linear-gradient(
      $c-controlBarGray,
      adjust-lightness( $c-controlBarGrayDark, -2 )
    )
  );
  @include box-shadow(
    inset 0 1px 0.125em $c-controlBarGrayBright,
    0 1px 0.125em #000
  );

  &.bright {
    @include background-image(
      linear-gradient(
        adjust-lightness( $c-controlBarGray, 15 ),
        adjust-lightness( $c-controlBarGrayDark, 10 )
      )
    );
  }

  &:active {
    @include box-shadow(
      inset 0 1px 0.25em #000,
      0 1px 0.0625em #000
    );
  }

  &:hover {
    &:before {
      color: $c-orange;
    }
  }

  &:before {
    position: absolute;

    width: 100%;
    height: 100%;

    top: 0;
    left: 0;

    line-height: 1.5em;
    font-size: 2em;

    text-align: center;

    color: $c-controlBarGrayDark;
  }
}

.controlItem {
  width: 33.333%;
  height: 2em;

  display: inline-block;


  &:first-child {
    .controlBtn {
      border-left: 1px solid $c-controlBarGrayDark;

      @include border-radius( 0.5em 0 0 0.5em );
      @include box-shadow(
        inset 0 1px 0.125em $c-controlBarGrayBright,
        inset -1px 0 0.075em #000,
        0 1px 0.125em #000
      );
    }
  }

  &:last-child {
    .controlBtn {
      border-right: 1px solid $c-controlBarGrayDark;
      @include border-radius( 0 0.5em 0.5em 0 );
      @include box-shadow(
        inset 0 1px 0.125em $c-controlBarGrayBright,
        inset 1px 0 0.075em #000,
        0 1px 0.125em #000
      );
    }
  }
}

.mainContainer {
  padding: 0.5em 3%;
}

.progressBar {
  width: 100%;

  margin: 0.5em 0;

  /* Reset the default appearance */
  -webkit-appearance: none;
   appearance: none;

  @media screen and (min-width: 500px) {
    float: right;
    width: 61.333%;
    margin: 0.625em 0 0 5%;
  }

  &::-webkit-progress-bar {
    height: 0.75em;
    border-radius: 1em;

    background-color: $c-controlBarGrayDark;

    @include box-shadow( 0 1px 1px $c-controlBarGrayBright ) ;
  }

  &::-webkit-progress-value {
    border-radius: 1em;

    background-color: $c-orange;

    @include box-shadow(
      0 1px 2px #000,
      inset 0 2px 6px adjust-lightness( $c-orange, 40 )
    );
  }
}

.clearfix:before, .clearfix:after { content: " "; display: table; }

.clearfix:after { clear: both; }

/* * For IE 6/7 only * Include this rule to trigger hasLayout and contain floats. */

.clearfix { *zoom: 1; }
